.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-tabs {
    position: absolute;
    padding: 15px;
    background: var(--background-element);
    border-radius: 15px;
    text-align: center;
    min-width: 40%;
    border: var(--card-border);
}

.login-home,
.login-offline,
.login-AZauth,
.login-AZauth-A2F {
    display: none;
}

.login-text {
    font-size: 16px;
    color: var(--color);
}

.connect,
.cancel {
    background: var(--element-color);
    color: #020618;
    border: none;
    border-radius: 100px;
    padding: 0.3rem 4rem;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Google Sans Flex', sans-serif;
    margin: 15px 10px;
    cursor: pointer;
    transition: var(--transition);
}

.connect:hover {
    background: #006626;
    color: var(--color);
}

.input-login .email,
.input-login .password,
.A2F {
    color: var(--color);
    background: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
    border-radius: 100px;
    width: 50%;
    padding: 0.4rem 1rem;
    margin-top: 10px;
    font-family: 'Google Sans Flex', sans-serif;
    font-size: 12px;
}

.input-login .email:focus,
.input-login .password:focus,
.A2F:focus {
    border-color: var(--element-color);
    outline: none;
}
