@import "font.css";

body {
    background-color: #F5F5F5;
    font-family: "Google Sans Flex", sans-serif;
    letter-spacing: 0px;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

.splash {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%);
    width: 140px;
    height: 140px;
    opacity: 0;
}

.splash.opacity {
    opacity: 1;
}

.splash.translate {
    top: 129px;
}

.splash-message {
    position: absolute;
    top: 289px;
    left: 0px;
    width: 400px;
    font: normal normal bold 19px/29px Poppins;
    text-align: center;
    letter-spacing: 0px;
    color: #1A1A1A;
    opacity: 0;
}

.splash-message.opacity {
    opacity: 1;
}

.splash-author {
    position: absolute;
    top: 326px;
    left: 0px;
    width: 400px;
    text-align: center;
    font: normal normal normal 9px/13px Poppins;
    color: #1A1A1A;
    opacity: 0;
}

.splash-author .author {
    font: normal normal bold 9px/13px Poppins;
}

.splash-author.opacity {
    opacity: 1;
}

.message {
    position: absolute;
    top: 347px;
    left: 0px;
    width: 400px;
    text-align: center;
    font: normal normal bold 19px/29px Poppins;
    text-align: center;
    letter-spacing: 0px;
    color: #1A1A1A;
    opacity: 0;
}

.download-update {
    position: absolute;
    left: 25%;
    margin-top: 20px;
    width: 200px;
    font: normal normal bold 22px / 45px Poppins;
    color: #1A1A1A;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
}

.download-update:hover {
    background-color: #1A1A1A;
    color: #FFFFFF;
    cursor: pointer;
}

.message.opacity {
    opacity: 1;
}

.progress {
    position: absolute;
    top: 410px;
    left: 106px;
    width: 189px;
    height: 10px;
    appearance: none;
    opacity: 0;
}

.show {
    opacity: 1;
}

.progress::-webkit-progress-bar {
    background-color: #E0E0E0;
    border: solid 1px #999999;
    border-radius: 10px;
}

.progress::-webkit-progress-value {
    background-color: #333333;
    border-radius: 10px;
}
