@import 'font.css';
@import 'panels/login.css';
@import 'panels/home.css';
@import 'panels/settings.css';

:root {
    --green-dark: #192E03;
    --green-light: #F7FEE7;
    --green-mid: #D8F999;
    --green-pale: #ECFCCA;
    --green-background: #ECFCCA
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    color: var(--green-dark);
    background-color: var(--green-background);
    font-family: 'Google Sans Flex', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

h1, h2, h3, h4, p, span {
    font-family: 'Google Sans Flex', sans-serif;
}
h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 16px; }
p, span, button, li, a, label, input, select, textarea { font-size: 12px; }

img {
    -webkit-user-drag: none;
    user-select: none;
}

* {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dragbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 26px;
    -webkit-app-region: drag;
    z-index: 11;
}



.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

.loading-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

.loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.loading-bar-track {
    width: 316px;
    height: 10px;
    background: #E0E0E0;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px;
}

.loading-bar-fill {
    height: 100%;
    width: 0%;
    background: var(--green-dark);
    border-radius: 10px;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-tab {
    width: 40%;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 15px;
    z-index: 10;
}

.popup-title {
    text-align: center;
    font-size: 2rem;
    border-bottom: solid 4px #1A1A1A;
    margin-bottom: 1rem;
}

.popup-options {
    display: none;
    align-items: end;
    flex-direction: column;
}

.popup-button {
    background: none;
    color: #1A1A1A;
    border: solid 4px #999999;
    border-radius: 10px;
    padding: 0.3rem 4rem;
    font-size: inherit;
    font-weight: bold;
    margin: 15px 10px;
}

.popup-button:hover {
    background: var(--green-dark);
    color: var(--green-light);
    border-color: var(--green-dark);
}

.panels {
    width: 100%;
    height: 100%;
    position: relative;
}

.panel {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}

.active {
    opacity: 1;
    z-index: 1;
    pointer-events: all;
}
